/*

Dough - v 0.1.0

Daum Communications
Webstandards Tech team.

*/

@charset "UTF-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:Helvetica;color:#333} /* color값은 디자인가이드에 맞게사용 */
a {color:#3577e8;text-decoration:none}
a:hover {color:#3577e8;text-decoration:underline;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}

button::-moz-focus-inner{border:0;padding:0;}


/* global */
#daumIndex {overflow:hidden;position:absolute;left:-9999px;width:0;height:1px;margin:0;padding:0;} /* 스킵네비게이션 */
.ir_pm {display:block;overflow:hidden;font-size:0px;line-height:0;text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {display:block;overflow:hidden;position:relative;width:100%;height:100%;z-index:-1} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.screen_hide {font-size:0;line-height:0;visibility:hidden} /* screen_out클래스를 사용할 수 없으며, 해당 텍스트를 숨겨야 할때 */
 
.f_l {float:left !important;}
.f_r {float:right !important;}
.cl_b {clear:both;width:0;height:0;font-size:0;line-height:0}
.show {display:block}
.hide {display:none}

.align_left {text-align:left;}
.align_center {text-align:center;}
.align_right {text-align:right;}

/* body & wrap */
body {position:relative;}
.wrap {display:block;*width:100%;}
.wrap:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}

.wrap_page {position:relative;width:978px;min-width:978px;margin:0 auto;clear:both;}
.wrap_page:after {display:block;height:0;content:".";font-size:0;visibility:hidden;clear:both;}

/* head, foot */
.wrap_head {}
.wrap_foot {margin:4em 0 2em;text-align:center;}
.wrap_foot a {color:#333;}

/* heading */
h1, h2, h3, h4, h5, h6 {margin:0.75em 0 0.5em;line-height:1.25em;}
h1 {font-size:2.5em;}
h2 {font-size:2em;}
h3 {font-size:1.5em;}
h4 {font-size:1.25em;}
h5 {font-size:1em;}
h6 {font-size:0.85em;}
h1 img.logo {margin:0;vertical-align:middle;}

/* grid */
.grid_5 {width:5%;}
.grid_10 {width:10%;}
.grid_15 {width:15%;}
.grid_20 {width:20%;}
.grid_25 {width:25%;}
.grid_30 {width:30%;}
.grid_35 {width:35%;}
.grid_40 {width:40%;}
.grid_45 {width:45%;}
.grid_50 {width:50%;}
.grid_55 {width:55%;}
.grid_60 {width:60%;}
.grid_65 {width:65%;}
.grid_70 {width:70%;}
.grid_75 {width:75%;}
.grid_80 {width:80%;}
.grid_85 {width:85%;}
.grid_90 {width:90%;}
.grid_95 {width:95%;}

/* list */
ul.list_circle,
ol.list_num {margin:1em 0 1em 2em;}
ul.list_circle > li,
ol.list_num > li {margin:0.5em;}

ul.list_circle > li {list-style:disc;}
ol.list_num > li {list-style:decimal;}

/* navigation */
[class^="nav_"] a:hover, 
[class*=" nav_"] a:hover,
[class^="tab_"] a:hover, 
[class*=" tab_"] a:hover {text-decoration:none;}

.nav_bar:after,
.nav_list:after {display:block;content:".";font-size:0;visibility:hidden;clear:both;}

.nav_bar {margin:1em 0 1.5em;background:#394053;box-shadow:inset 0 0 1px rgba(0,0,0,0.5)}
.nav_bar > li {float:left;margin:0;}
.nav_bar > li > a {display:block;padding:0.75em 1.5em;color:#fff;}
.nav_bar > li:first-child > a {padding-left:2em;}
.nav_bar > li:last-child > a {padding-right:2em;}
.nav_bar > li > a:hover,
.nav_bar > li.on > a {background:#6c9ecf;color:#fff;text-shadow:1px 1px 1px rgba(0,0,0,0.8);}
.nav_bar > li.on > a {}

.nav_bar.has_sub {position:relative;padding-bottom:2.7em;background:#394053;}
.nav_bar.has_sub li {margin:0;}
.nav_bar.has_sub > li > ul {position:absolute;width:100%;left:0;top:3em;margin:0;padding:0.65em 0;box-shadow:inset 0 0 0 1px #9c9c9c;background:#f9f9f9;}
.nav_bar.has_sub > li > ul > li {float:left;}
.nav_bar.has_sub > li > ul > li > a {padding:0.75em 1.25em;color:#333}
.nav_bar.has_sub > li > ul > li > a:hover {color:#3577e8;font-weight:bold;}
.nav_bar.has_sub > li > ul > li.on > a {color:#3577e8;font-weight:bold;}
.nav_bar.has_sub > li > ul > li:first-child > a {margin-left:1em;}

.nav_list {margin:0 0 1.5em 0;padding:0.5em 0;border:1px solid #ccc;border-radius:0.5em;background:#f9f9f9;}
.nav_list ul,
.nav_list li {margin:0;}
.nav_list > li > a {display:block;padding:0.5em 1.25em;color:#333;}
.nav_list > li > a:hover {background:#eaeaea;color:inherit;}
.nav_list > li.on > a,
.nav_list > li.on > a:hover {background:#6c9ecf;color:#fff;text-shadow:0 -1px 1px rgba(0,0,0,0.8);}
.nav_list > li.on > a {font-weight:bold;}
.nav_list [class^="tit"], .nav_list [class*=" tit"] {padding:0.5em 0.75em;font-size:1.5em;font-weight:bold;}

.nav_list.has_sub > li > ul {border-bottom:1px solid #ccc;padding:0.5em 0;box-shadow:inset 0.1em 0.1em 0.25em rgba(0,0,0,0.3);background:#fff;}
.nav_list.has_sub > li > ul > li > a {display:block;padding:0.3em 1.25em;text-indent:1em;color:#333;}
.nav_list.has_sub > li > ul > li > a:hover {color:#3577e8;font-weight:bold;}
.nav_list.has_sub > li > ul > li.on > a {color:#3577e8;font-weight:bold;}

/* tab */

/* tab_bar */
.tab_bar {margin:1em 0 1.5em;border-top:2px solid #414858;border-left:1px solid #dadadc;border-bottom:1px solid #cbd0d4; border-right:1px solid #dadadc; background:#f7f7f7;}
.tab_bar:after {display:block;content:".";font-size:0;visibility:hidden;clear:both;}
.tab_bar > li {float:left;margin:0 0 -1px 0;}
.tab_bar > li > a {display:block;padding:0.75em 2.5em;color:#666;border:1px solid #f7f7f7;border-width:0 1px 0 1px;font-weight:bold;}
.tab_bar > li > a:hover {color:#3377e4;}
.tab_bar > li.on > a {border-left-color:#cbd0d4;border-right-color:#cbd0d4;border-bottom:1px solid transparent;background:#fff;color:#3377e4;font-weight:bold;}
.tab_bar > li:first-child > a {border-left:none}
.tab_bar > li:last-child > a {border-right:none}

/* tab_bar_small */
.tab_small {background:none;border:1px solid #c7c7c7;border-width:0 0 1px 0;}
.tab_small > li {position:relative;z-index:10;margin-left:-1px;}
.tab_small > li.on {z-index:20;}
.tab_small > li > a {padding:0.5em 1.6em;border:1px solid #dfdfdf;border-bottom-color:#c7c7c7;background:#f3f3f3;font-weight:normal;}
.tab_small > li > a:hover {color:#666;font-weight:bold;}
.tab_small > li:first-child > a {border-left:1px solid #dfdfdf;margin-left:0;}
.tab_small > li:last-child > a {border-right:1px solid #dfdfdf;margin-left:0;}
.tab_small > li.on > a {border-color:#c7c7c7;border-bottom-color:transparent;background:#fff;color:#333;}



/* button */
.btn {
	display:inline-block;
	padding:0.5em 1em;
	margin:0.4em 0.15em;
	border:1px solid #ccc;
	border-color:#dbdbdb #d2d2d2 #b2b2b2 #d2d2d3;
	cursor:pointer;
	background-color:#f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f2f2f2));
	background: -moz-linear-gradient(top, #fff, #f2f2f2);
	color:#464646;
	border-radius:0.2em;
	vertical-align:middle;
	line-height:1.25em;}
.btn:hover {
	color:#464646;
	text-decoration:none;
	background-color:#e5e5e5;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#e5e5e5));
	background: -moz-linear-gradient(top, #fff, #e5e5e5);
}
.btn:active {
	border-color:#999;
	background-color:#e5e5e5;
	background:-webkit-gradient(linear, left top, left bottom, from(#ebebeb), to(#dbdbdb));
	background: -moz-linear-gradient(top, #ebebeb, #dbdbdb);
	box-shadow:inset 0 1px 0.24em rgba(0,0,0,0.4)
}

.btn_confirm {
	border-color:#4267d1 #3c61c9 #385ec3 #3c61c9;
	color:#fff;
	background-color:#315dd9;
	background: -webkit-gradient(linear, left top, left bottom, from(#3e71fe), to(#315dd9));
	background: -moz-linear-gradient(top, #3e71fe, #315dd9);
}
.btn_confirm:hover {
	color:#fff;
	background-color:#2b52bb;
	background: -webkit-gradient(linear, left top, left bottom, from(#3666ea), to(#2b52bb));
	background: -moz-linear-gradient(top, #3666ea, #2b52bb);
}
.btn_confirm:active {
	border-color:#2146ab;
	background-color:#2b52bb;
	background: -webkit-gradient(linear, left top, left bottom, from(#325ed9), to(#274aa9));
	background: -moz-linear-gradient(top, #325ed9, ##274aa9);
}

.btn_mini {font-size:0.8em;padding:0.3em 0.6em;}
.btn_small {font-size:0.9em;padding:0.3em 1em;}
.btn_large {font-size:1.4em;padding:0.5em 1.25em;}

/* form */
input[type="text"], input[type="password"], input[type="radio"], input[type="checkbox"], textarea, select {margin:0.5em 0;}
input[type="text"], input[type="password"], textarea, select {padding:0.5em 0.5em;border:1px solid #ccc;border-color:#dbdbdb #d2d2d2 #d0d0d0 #d2d2d3;box-shadow:inset 0.1em 0.1em 0.15em rgba(0,0,0,0.1);vertical-align:middle;line-height:1.25em;}
select {min-width:100px;height:2.45em;padding:0.45em 0.5em;box-shadow:none;line-height:2.45em;}
input[type="text"], input[type="password"], textarea {outline:none;}
input[type="text"]:not([size]), input[type="text"][size=""], input[type="password"]:not([size]), input[type="password"][size=""], textarea:not([cols]), textarea[cols=""] {width:200px;}
input[type="text"]:focus, input[type="password"]:focus,textarea:focus {border-color:#6b9de9}

/* label */
label {margin:0 0.75em;}
label > .label_txt {margin:0 0.75em;}

/* form combo */
.combo {display:inline-block;margin:0.5em 0.25em;vertical-align:middle;}
.combo > * {float:left;border-radius:0;}
.combo > input {margin:0;border-radius:0;}
.combo .btn {margin:0;border-width:1px 1px 1px 0;border-radius:0;}
.combo .btn:first-child {border-left-width:1px;}
.combo > *:first-child {border-radius:0.2em 0 0 0.2em;}
.combo > *:last-child {border-radius:0 0.2em 0.2em 0;}
label + .combo {margin-left:1em;vertical-align:middle;}

/* table */
table {width:100%;margin:1.5em 0;border:1px solid #e2e2e2;border-width:1px 0 0 1px;border-spacing:0px; border-collapse:collapse;}
table caption {font-weight:bold;margin:0 0 1em;text-align:left;}
th, td {padding:0.5em 0.75em;border:1px solid #e2e2e2;border-width:0 1px 1px 0;text-align:left;}
th {background:#f7f7f7;}

.tbl_board {border:none;}
.tbl_board th {border:none;border-top:1px solid #c7c7c7;border-bottom:1px solid #e3e3e3}
.tbl_board th:first-child {border-radius:0.5em 0 0 0.5em}
.tbl_board th:last-child {border-radius:0 0.5em 0.5em 0}
.tbl_board td {border-width:0 0 1px 0;}
.tbl_board tr:hover td {background:#f5f5f5;}

/* thumbnail and caption */
.group_thumb {overflow:hidden;margin:0;}
.group_thumb .thumb {float:left;overflow:hidden;padding:1%;margin:0;}
.group_thumb .thumb > a {color:#333;cursor:pointer;}
.group_thumb .thumb > a:hover {color:#4559E9;}
.group_thumb .thumb > a:hover img {box-shadow:0.15em 0.15em 0.75em rgba(0,0,0,1)}
.group_thumb .thumb img {width:100%;margin:0;}
.group_thumb .thumb img + .caption {display:block;overflow:hidden;width:100%;height:2.6em;margin:0.75em auto;font-size:0.9em;line-height:1.25em;text-align:center;}

.group_thumb .thumb {width:18%;}
.group_thumb[data-thumb-col="2"] .thumb {width:48%;}
.group_thumb[data-thumb-col="3"] .thumb {width:31.3%;}
.group_thumb[data-thumb-col="4"] .thumb {width:23%;}
.group_thumb[data-thumb-col="6"] .thumb {width:14.65%;}

/* panel */
.panel {border:1px solid #d1d1d1;padding:1.5em;margin:1.5em 0;background:#f6f6f6;}
.panel_info {border-color:#d6dbef;background:#f7f8fc;color:#636c8d;}
.panel_dark {border-color:#323e56;background:#5a6988;color:#f3f3f3;}
.panel_alert {border-color:#A72F00;background:#D54907;color:#fff;}


/* popup */
.window {width:500px;margin:2em;background:#fff;border:1px solid #666;box-shadow:0.1em 0.1em 0.5em rgba(0,0,0,0.2)}
.window_head {padding:0.25em 0.75em;border-bottom:1px solid #aaa;font-weight:bold;color:#fff;font-size:1.5em;background:#394053}
.window_body {min-height:30px;padding:1.5em 2em}
.window_foot {padding:1em 1em 2em;text-align:center}

/* etc */
.line_break {display:block;margin:2em 0;border-bottom:1px solid #bbb;}


/* 페이징 */
.group_paging {display:block;margin:1em 0;text-align:center;}
.group_paging > a,
.group_paging > span {display:inline-block;padding:0.05em 0.5em;margin:0 0.1em;border:1px solid #dedde2;text-decoration:none;color:#333;font-weight:bold;}
.group_paging > span {border-color:#6f7689;background:#9398b5;color:#fff}
.group_paging > a:hover {border-color:#6f7689;}
.group_paging .link_edge {border:none;color:#999;font-weight:normal;}
.group_paging > a.link_edge:hover {color:#333;}

